@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(240, 253, 244);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .link {
    @apply py-3 text-sm font-semibold border-b-[3px] cursor-pointer;
  }
  .input {
    @apply px-4 py-2 text-xl text-gray-700 bg-white border-gray-300 rounded-md transition ease-in-out duration-200 focus:text-gray-700 focus:bg-white focus:border-slate-600;
  }
  .auth-link{
    @apply transition duration-200 ease-in-out;
  }
}